// @media (max-width: 640px) {
//   html, body {
//     font-size: 15px !important;
//   }
// }

.full-w {
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.en-font {
  font-family: Lora,'Times New Roman',serif;
  font-style: italic;
}