// @media (max-width: 640px) {
//   html, body {
//     font-size: 15px !important;
//   }
// }

.full-w {
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.en-font {
  font-family: Lora,'Times New Roman',serif;
  font-style: italic;
}

.txt-h1 {
  font-size: 2.5em;
}
.txt-h2 {
  font-size: 2em;
}
.txt-h3 {
  font-size: 1.5em;
}
.txt-h4 {
  font-size: 1em;
}

.font-500 {
  font-weight: 500;
}

::-webkit-scrollbar {
  width:10px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
  border-radius:10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius:10px;
  background: #BDBDBD;
  -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #BDBDBD;
}
